.errorSummary ul {
    list-style: none;
}
.btn {
    margin: 0;
}

.row-fluid [class*="span"] {
    height: 38px;
}
.b-box {
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.nbm {
    margin-bottom: 0 !important;
}
h1 {
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2c3e50;
}
#content {
    margin: 0 auto;
    width: 940px;
}

.error-msg {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
}

@media (max-width: 640px) {
    .error-msg {
        margin-top: 200px;
        font-size: 40px;
        line-height: 40px;
    }
}

.user-info .avatar {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 3px solid #18bc9c;
    border-radius: 5px;
}

.user-info .controls {
    margin-top: 55px;
}

.user-list .item {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;

}

.user-list .avatar {
    float: left;
}

.user-list .info {
    padding-left: 25px;
    height: 120px;
    margin-left: 120px;
    position: relative;
}


.user-list .info .controls {
    position: absolute;
    bottom: 0;
}

.user-list .info .controls .btn:last-of-type {
    margin: 0 10px 0 0;
}

.user-list .info .controls .btn:last-of-type {
    margin: 0;
}

.user-list .info a.user-title {
    font-size: 24px;
    font-weight: bold;
}

.user-search-panel {
    margin-bottom: 20px;
    margin-left: 10px;
}

.breadcrumbs {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.breadcrumbs > a {
    display: inline-block;
    *display: inline;
    text-shadow: 0 1px 0 #ffffff;
    *zoom: 1;
}

.breadcrumbs .divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumbs span {
    color: #b4bcc2;
}

.user-recipes {
    margin-top: 50px;
}

.recipes .item {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;

}

.recipes .avatar {
    float: left;
}

.recipes .info {
    padding: 0 0 0 25px;
    margin-left: 120px;
}
.recipes .body {
    padding: 0 0 50px;
    position: relative;
    min-height: 70px;
}
.recipes .item:hover {
    /*background-color: #f5f5f5;*/
}

.recipes .info .controls {
    position: absolute;
    bottom: 0;
    padding-right: 30px;
}

.recipes .info .buttons .btn {
    margin: 0 10px 0 0;
}

/*.recipes .info .controls .btn:last-of-type {*/
    /*margin: 0;*/
/*}*/

.recipes .info .likes {
    margin-left: 15px;
}

.recipes .info a.title {
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: text;
}


.comment-item {
    padding: 10px;
    margin: 20px 0;
    border-bottom: 2px solid #f5f5f5;
    /*background-color: #ffffff;*/
}

.comment-item .comment-avatar {
    float: left;
}

.comment-item .comment-info {
    position: relative;
    padding: 0 0 35px 25px;
    margin-left: 80px;
    min-height: 60px;
}

.comment-item textarea {
    min-height: 80px;
}

.comment-item .comment-info .controls {
    padding: 0 25px 0 0;
    line-height: 30px;
}

.likes a {
    display: block;
    position: relative;
}

.tooltip-likes {
    width: 200px;
    opacity: 1;
    display: none;
}

.tooltip-likes a {
    float: left;
    margin-right: 8px;
}
.tooltip-likes p {
    margin: 0 0 5px;
    text-align: left;
}
.tooltip-likes a img {
    border-radius: 4px;
}
.tooltip-likes a:last-of-type{
    margin-right: 0;
}

.info p {
    text-align: justify;
}

















